
$primary-color: #feffff;
$primary-color-light: #15e6cd;
$primary-color-dark: #587291;
$color-headings:#0cf574;
$color-features: #2f97c1;


$primary-color-darker :#42556d;


$primary-background-color:#d278d0;
$primary-background-color-l:#ca9fc9;

$color-black: black;
$color-red: red;


        
$box-shadow: 1rem 2rem 4rem rgba($primary-color-darker, .4);

//fonts

$font-size-bg: 3.5rem;
$font-size-p: 1.8rem;
$letter-spacing-bg: 1.5px;
$letter-spacing: 1px;

//shapes
$padding: .5em 1em;


 
